html, body{
    background-color: rgb(246, 236, 236);
    margin: 0%;
    padding: 0%;
}

.top-header{
    background-color: rgb(13, 13, 6);
}

.menu-item{
    color: rgb(0, 0, 0);
    padding: 15px;
    display: inline-block;
    text-decoration: none;
}
.main-content{
    max-width: 700px;
    margin: auto;
}

.box {
    background-color: rgb(95, 93, 93);
    padding: 20px;
    margin: 30px;
}

.image{
    width:  100%;
}

.button {
    color: azure;
    background-color: aquamarine;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
}